flows.json
[{"id":"649d02bf.a0e61c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"23b04fb3.3084e","type":"function","z":"649d02bf.a0e61c","name":"PreToken","func":"global.set(\"dt\",msg.payload.dt)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"hu\",msg.payload.hu)\nglobal.set(\"is\",msg.payload.is)\nvar apikey=\"yFRcsTlBoAWcuXDEviS6PN8UtG4yfU4acmo23VzySqif\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["a2d34abd.480588"]]},{"id":"a2d34abd.480588","type":"http request","z":"649d02bf.a0e61c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["db4cd120.24f03"]]},{"id":"6e18bfdf.89dbd","type":"inject","z":"649d02bf.a0e61c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["23b04fb3.3084e"]]},{"id":"255455d4.1a393a","type":"debug","z":"649d02bf.a0e61c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"db4cd120.24f03","type":"function","z":"649d02bf.a0e61c","name":"Pre Prediction","func":"var dt = global.get('dt')\nvar te = global.get('te')\nvar hu = global.get('hu')\nvar is = global.get('is')\nvar token=msg.payload.access_token\nvar instance_id=\"c36c7dbc-6ec3-4682-a861-16eae7ce1a24\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time (PST)\", \"Temperature (deg F)\", \"Relative Humidity (%)\", \"Intermittent/Shot Snow ()\"], \"values\": [[dt,te,hu,is]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["1c378bc5.42a884"]]},{"id":"1c378bc5.42a884","type":"http request","z":"649d02bf.a0e61c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/dd16295b-7345-4c16-84f3-46b3bb2fc144/predictions","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["5bd420fa.3587e"]]},{"id":"4a31b11b.4aded","type":"ui_form","z":"649d02bf.a0e61c","name":"","label":"","group":"258c3f69.e0279","order":1,"width":0,"height":0,"options":[{"label":"Date/Time (PST)","value":"dt","type":"text","required":true,"rows":null},{"label":"Temperature (deg F)","value":"te","type":"number","required":true,"rows":null},{"label":"Relative Humidity (%)","value":"hu","type":"number","required":true,"rows":null},{"label":"Intermittent/Shot Snow (\")","value":"is","type":"number","required":true,"rows":null}],"formValue":{"dt":"","te":"","hu":"","is":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["23b04fb3.3084e"]]},{"id":"6d2d2c76.e94e44","type":"ui_text","z":"649d02bf.a0e61c","group":"258c3f69.e0279","order":2,"width":0,"height":0,"name":"","label":"total snow depth","format":"{{msg.payload}}","layout":"row-spread","x":802.6000366210938,"y":364.20001220703125,"wires":[]},{"id":"5bd420fa.3587e","type":"function","z":"649d02bf.a0e61c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":604.6000366210938,"y":107.60000610351562,"wires":[["6d2d2c76.e94e44","255455d4.1a393a"]]},{"id":"258c3f69.e0279","type":"ui_group","z":"","name":"avalanche prediction","tab":"df16173c.2efeb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"df16173c.2efeb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]